/* reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: #ffffff;
}

body {
    font-size: 1rem;
}

 a{
     text-decoration: none;
 }

 /* estilos básicos da header */

 header {
     /*fazendo a header ocupar todo o espaço visível da tela*/
     width: 100%;
     max-width: 1366px;
     height: 100vh;
     /*setando e configurando a background-image da minha header*/
     
     /*configurando o flex da minha header */
 }
 
 /* fixando a topbar-container no topo da tela*/

 .topbar-container {
    /*adicionando valores de largura e altura à minha barra superior*/
    width: 100%; /*ocupando toda a largura*/
    
    /*adicionando uma background-color na minha barra superior*/
    background-color:  rgba(0, 0, 0, 0.3);

    /*configurando o flexbox na minha barra superior*/

    display: flex; /* 1. Chamando o flexbox*/
    flex-direction: row; /* 2. Dando uma direção da minha flexbox - quero que ela seja em linha (um elemento flexível ao lado do outro) */
    align-items: center; /* 3. Alinhando todos os itens verticalmente ao centro */
 }
/*configurando o logo*/
.logo {
    background-color: #ffffff;

    flex-basis: 301px;
    height: 100px;

    display: flex;
    align-items: center;
}

.logo img {
    margin-left: 22px;
    margin-right: 14px;
}

.logo h1 {
    color: #F2B705;
    font-family: 'Righteous', cursive;
    font-size: 32px;
    padding-top: 8px;
}
/*configurando o menu*/
.header-navbar {
    width: 100%;
}

.menu {
    display: flex;
    list-style: none;
    justify-content: flex-end;

}

li {
    margin-right: 2rem;

}

.header-navbar li a {
    text-transform: uppercase;
    font-size: 20px;
    color: #F28705;
}

.products {
    font-weight: bold;
    text-decoration: underline 3px solid #ffffff;
}

/* configurando a seção com a descrição e as setas laterais*/
.header-description {
    background-image: url(./images/Rectangle3.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.header-description p {
    width: 520px;
    font-size: 3rem;
    font-weight: bold;
}

.box-description {
    display: flex;
    align-items: center;
    height: 30rem;
    margin-left: 3rem;
}


